.container-modal-record {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(61, 61, 61, 0.48);
}

.modal-record {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 611px;
  padding: 56px 63px 40px 63px;
  border-radius: 20px;

  font-family: "Rubik", sans-serif;

  background: #ffffff;
}

.modal-record__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 52px;
}

.modal-record__btns {
  display: flex;

  margin-bottom: 38px;
}

.modal-record__btn-incomes,
.modal-record__btn-expenses {
  height: 60px;
  width: 245px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.modal-record__btn-incomes {
  border-radius: 10px 0px 0px 10px;
}

.modal-record__btn-expenses {
  border-radius: 0px 10px 10px 0px;
}

.modal-record__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-record__inputs {
  display: flex;
  flex-direction: column;
  gap: 26px;

  margin-bottom: 43px;
}

.modal-record__btn {
  width: 236px;
  height: 46px;
  border-radius: 5px;

  font-family: "Rubik", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  background: #7978d9;
}
