.filter {
  display: flex;
  flex-direction: column;

  margin-bottom: 61px;
  padding: 32px 0 13px 32px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  background: #fafafa;
}

.filter__title {
  margin-bottom: 20px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #b9b9b9;
}

.filter__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  width: 264px;
  margin-bottom: 18px;
}

.filter__clean-apply {
  display: flex;
  gap: 18px;
}

.filter__btn-clean {
  padding: 8px 11px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  background: #fafafa;
}
