:root {
  --background-white: #ffffff;
  --text-white: #ffffff;
  --text-black: #484848;
  --purple-primary: #7978d9;
  --purple-secondary: #7b61ff;
  --message-error: #dc143c;
  --message-accepted: #adff2f;
  --background-modal: #3d3d3d7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

.container-img {
  min-height: 100vh;

  background: url('./assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 41px 100px 0 100px;
}

.card__error,
.card__accepted {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 8px;
}

.card__error {
  color: var(message-error);
}

.card__accepted {
  color: var(message-accepted);
}
